keras_applications>=1.0.7,<=1.0.8
image-classifiers==1.0.0
efficientnet==1.1.1
segmentation-models==1.0.1
tensorflow==2.17.0
pydot==2.0.0
tabulate==0.9.0
tqdm==4.66.4
pandas==2.2.3
tensorflow_io==0.37.1
# python3 -m pip install tensorflow[and-cuda]
